.leftSpace {
  padding-left: 20px;
}

.alignTop {
  vertical-align: top;
}

.cancelled {
  text-decoration: line-through;
}

.error {
  color: red;
}

.passed {
  background:
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0,0,0,0.2) 10px,
    rgba(0,0,0,0.2) 20px
  ),
  linear-gradient(
    to bottom,
    rgba(255,255,255,0.2),
    rgba(0,0,0,0)
  );
}

.homework {
  font-weight: bold;
  font-style: italic;
}

td > p,
td > p > p {
  display: block;
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

td {
  padding: 1px;
}
